.bgImg {
    background-image: url('C:\Users\shams\OneDrive\Desktop\TruRideTaxi\truridetaxi\src\assets\world.jpeg');
    height: 696px;
    width: 100%;
    align-items: center;
  }
  
  .container-contact {
    background-color: white;
    font-family: "Lato", sans-serif;
    padding-top: 70px;
    justify-content: center;
    margin-top: -45px;
  }
  
  .content {
    margin-top: 58px;
  }
  
  .submit-button {
    align-items: center;
    margin-left: 250px;
  }
  
  .txt-h1 p {
    color: white;
    text-align: left;
    margin-left: 208px;
    margin-top: 58px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .txt-h3 p {
    color: white;
    text-align: left;
    margin-left: 208px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .msg {
    margin-left: 185px;
    width: 1152px;
    height: 710;
  }
  
  .sendMsg {
    color: #100062;
    float: left;
    width: 692px;
    height: 710px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .details {
    display: flex;
  }
  
  .contact {
    color: white;
    float: right;
    background-color: #FF2E00;
    width: 460px;
    height: 710px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .location {
    display: flex;
    flex-direction: column;
    margin-left: 69px;
  }
  
  .location-text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 10px;
  }
  
  .locationImg {
    width: 36px;
    height: 35px;
  }
  
  .contact p {
    color: white;
  }
  
  .form-container-right {
    width: 500px;
    height: 180px;
    padding-left: 10px;
    padding-top: 40px;
    display: flex;
  }
  
  .form-container-left {
    width: 600px;
    height: 180px;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
  }
  
  .input-container-right {
    position: relative;
    margin-bottom: 5px;
    width: 263px;
  }
  
  .form-label {
    font-size: 16px;
    color: #999;
    text-align: left;
    display: block;
    margin-bottom: 0px;
  }
  
  .form-label-below {
    font-size: 16px;
    color: #999;
    text-align: left;
    display: block;
    padding-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #100062;
    outline: none;
    background: transparent;
    text-align: left;
    margin-top: 30px;
  }

  @media (max-width: 600px) {
    .item {
      flex: 1 1 100%;
    }
  }
  
  .form-input-right {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #100062;
    outline: none;
    background: transparent;
    text-align: left;
    margin-top: 30px;
  }
  
  .form-input-left {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #100062;
    outline: none;
    background: transparent;
    text-align: left;
    margin-top: 30px;
  }
  
  .form-input:focus {
    border-bottom: 2px solid #100062;
  }
  
  .submit-button {
    width: 198px;
    height: 48px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #FF2E00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .location p {
    text-align: left;
    max-height: 170px;
    font-size: 1.3em;
  }
  
  .content-img img {
    width: 1122px;
    height: 594px;
  }
  
  .content-txt {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .input-container-left {
    margin-bottom: 5px;
    width: 263px;
    margin-left: 52px;
  }
  
  .input-container-below {
    position: relative;
    margin-bottom: 20px;
    padding-left: 41px;
    width: 600px;
    margin-top: 80px;
    margin-left: 52px;
  }
  
  .mailImg {
    width: 36px;
    height: 28px;
  }
  
  .heading {
    display: flex;
  }
  
  .logimg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .grouplogo{
    margin: 50px;
    margin-left: -0px;
    width: 300px;
    height: 30px;
  }
  